.tic-tac-toe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.tic-tac-toe-inner {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    flex-basis: 33.33333%;
    background: none;
    border: 10px solid purple;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
.square {
    font-size: 60px;
}